
h1{
    text-align: center;
    font-size: 50px;
    color: rgb(201, 31, 15);
}

.logout{
    font-size: 20px;
    text-align: left;
    margin-left: 150px;
}
.alltotal{
    text-align: center;
    font-size: 20px;
}
.createform{
    font-size: 20px;
    text-align: right;
    margin-right: 150px;
    margin-top: 10px;
}

.top_detail{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
.category{
    color: brown;
}
.total{
    color: brown;
}

.t{
    text-align: center;
    margin-top: 50px;
}
.submitbutton{
    text-align: center;
    margin-bottom: 20px;
}
.return{
    text-align: center;
    margin-top: 10px;
}

.categoryname{
    text-align: center;
    font-size: 50px;
}
.detail{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.m-auto{
    margin:auto;
}